@use "variables" as *;
@use "mixins" as *;

.rcard-container {

    @include flexbox(column, center, center);
    background-color: $card-9;
    margin: 0 auto;
    gap: 4.5rem;
  }
  .rcard-content {
    @include flexbox(row, center, center);
    @include border-style2(1px solid $secondary-color);
    padding: 6rem;
    border-radius: 1rem;
    background-color: $bg-color;
    max-width: 70%;
    margin: 0 auto;
  }
  .rcard-title {
    font-family: $main-font;
    font-size: 2.5rem;
    font-weight: 800;
    color: $secondary-color;
    text-align: left;
  }
  .rcard-title2 {
    font-family: $secondary-font;
    font-size: 2.25rem;
    font-weight: 200;
    color: $secondary-color;
    text-align: left;
  }
  .rcard-p {
    font-family: $main-font;
    font-size: 1rem;
    font-weight: 400;
    color: $secondary-color;
    text-align: left;
  }
  .rcard-content img {
    width: 500px;
    height: 500px;
    object-fit: contain;
    color: transparent;
  }
  