@use "variables" as *;
@use "mixins" as *;
@import 'variables';

.ingredients {
  background-color: $ingredientbg;
  padding: 44px 20px 50px;

  h2 {
    color: $secondary-color;
    text-align: center;
    font-size: 30px;
    font-family: $main-font;
    font-weight: 1000;
    line-height: 32px;
    letter-spacing: -0.1px;
  }
}

#enter-item {
  display: none;
}

.search-bar {
    margin: 0 auto;
    display: flex;
    align-items: center;
    border: 1px solid $secondary-color; // Border color
    border-radius: 25px; // Rounded edges for the entire bar
    width: 100%; // Adjust width as needed
    max-width: 800px; // Example: Set max width
  
    input[type="search"] {
      flex: 1; // Input field takes up available space
      padding: 12px;
      border: none;
      outline: none;
      font-family: $secondary-font;
      font-size: 2.5vh; // Matches background
      color: $bg-color;
      background-color: $ingredientbg;
      border-radius: 45%;
  
      &::placeholder {
        color: $secondary-color; // Placeholder text color
      }
    }
  
    .search-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px; // Button size
      height: 40px; // Matches the width for a circular button
      background-color: $brand-color; // Yellow background
      cursor: pointer;
      border: none;
      border-radius: 50%;
      margin: 5px;

      svg {
        width: 24px; // Size of the SVG icon
        height: 24px;
        fill: $secondary-color; // Color of the SVG icon
      }
    }
  }