@use "variables" as *;
@use "mixins" as *;

.swiper-container {
    @include flexbox(column, center, center);
    @include border-style(1px solid $secondary-color, 1px solid $secondary-color);
    padding: 6rem;
    background-color: $bg-color;
    margin: 0 auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .swiper-title {
    font-family: $main-font;
    font-size: 1.75rem;
    font-weight: 800;
    color: $secondary-color;
    text-align: center;
  }
  .swiper-title2 {
    font-family: $secondary-font;
    font-size: 1.75rem;
    font-weight: 300;
    color: $secondary-color;
    text-align: center;
  }

  .swiper {
    display: flex;
    flex-direction: row;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    background-color: $bg-color;
    max-width: 95%;
    margin: 0 auto;
  }

  @media (min-width: 45.8125rem ) {
    .swiper {
      display: flex;
      flex-direction: row;
      overflow: auto;
      white-space: nowrap;
      padding: 10px;
      background-color: $bg-color;
      max-width: 95%;
      margin: 0 auto;
    }
  }

  .rimage-container {
    @include border-style2(1px solid $secondary-color);
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
  }
  .rimage-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rimage {
    @include border-style3(1px solid $secondary-color);
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 225px;
    min-width: 300px;
  }
  .rtext-box {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $secondary-color;
    padding: 0.5rem;
  }
  .rimage-container2 {
    @include border-style2(1px solid $secondary-color);
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
    height: 100%;
  }
  .rimage-box2 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
  }
  .rimage2 {
    @include border-style2(1px solid $secondary-color);
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 225px;
    min-width: 300px;
    border-radius: 0.5rem;
    min-height:302px;
  }
  .rtext-box2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $secondary-color;
    padding: 0.5rem;
    padding-bottom: 4rem;
  }
  .word1 {
    font-family: $main-font;
    font-size: 1.35rem;
    font-weight: 800;
    margin-right: 0.25rem;
  }
  .word2 {
    font-family: $secondary-font;
    font-size: 1.35rem;
    font-weight: 300;
    transform: translateY(3px);
  }
  .word3 {
    font-family: $secondary-font;
    font-size: 1.35rem;
    font-weight: 300;
    margin-right: 0.25rem;
  }
  .word4 {
    font-family: $main-font;
    font-size: 1rem;
    font-weight: 550;
  }