@use "variables" as *;
@use "mixins" as *;

.swiper-container {
    @include flexbox2(column, center, center); 
    @include border-style(1px solid $secondary-color, 1px solid $secondary-color);
    padding: 6rem;
    background-color: $bg-color;
    margin: 0 auto; 
    width: 100%;
    max-width: 95%;
  }
  
  .swiper-title {
    font-family: $main-font; 
    font-size: 1.75rem;
    font-weight: 800;
    color: $secondary-color; 
    text-align: center;
  }
  
  .swiper-title2 {
    font-family: $secondary-font; 
    font-size: 1.75rem;
    font-weight: 300;
    color: $secondary-color; 
    text-align: center;
  }
  
  .swiper {
    display: flex;
    flex-direction: row; 
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    background-color: $bg-color;
    max-width: 95%; 
    margin: 0 auto; 
  }
  
  .swiper-slide {
    width: 150px; 
    max-width: 300px; 
    max-height: 275px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin-right: 10px; 
    overflow: hidden; 
  }
  
  .rimage-container {
    display: flex;
    flex-direction: column; 
    border-radius: 1rem;
    overflow: hidden;
    width: 100%; 
    max-height: 275px;
  }
  
  .rimage-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .rimage {
    @include border-style3(1px solid $secondary-color);
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
  }
  
  .rtext-box {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    color: $secondary-color;
    padding: 0.5rem;
  }
  
  .rimage-container2 {
    display: flex;
    flex-direction: column; 
    border-radius: 1rem;
    overflow: hidden;
    max-width: 275px; 
    max-height: 400px;
  }
  
  .rimage-box2 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem; 
    border-radius: 1rem;
  }
  
  .rimage2 {
    @include border-style2(1px solid $secondary-color);
    width: 100%; /* Allow image to fill container width */
    height: 100%; /* Allow image to fill container height */
    object-fit: cover; 
    border-radius: 0.5rem;
  }
  
  .rtext-box2 {
    text-align: center; 
    padding: 5px; 
  }
  
  .word1 {
    font-family: $main-font;
    font-size: 1.35rem;
    font-weight: 800;
    margin-right: 0.25rem;
  }
  
  .word2 {
    font-family: $secondary-font;
    font-size: 1.35rem;
    font-weight: 300;
  }
  
  .word3 {
    font-family: $secondary-font;
    font-size: 1.35rem;
    font-weight: 300;
    margin-right: 0.25rem;
  }
  
  .word4 {
    font-family: $main-font;
    font-size: 1rem;
    font-weight: 550;
  }