// Branding
$brand-color: #fff435;
$secondary-color: #5D0A0A;
$bg-color: #FAF3CE;
$tertiary-color: #F5FCA1;
$ingredientbg : #fffff6;
$trendingbg : #fdfbee;
$borderforcards: #dfd0b8;
// Fonts
$main-font: 'monsterrat', sans-serif;
$secondary-font: 'roca', sans-serif;


// Card Colors
$card-1: #F5C7E2;
$card-2: #FFD179;
$card-3: #FAF3CE;
$card-4: #E3E2AA;
$card-5: #37787E;
$card-6: #B95421;
$card-7: #F4EEB6;
$card-8: #E7FB78;
$card-9: #FFE9B7;
$card-10: #B85427;
$card-11: #E8FC77;
$card-12:#FEF87B;
$card-13: #FFFAD2;
$card-14: #F6FAA6;
$card-15: #DCC5E3;

