// Branding
$brand-color: #fff435;
$secondary-color: #5D0A0A;
$bg-color: #FAF3CE;

// Fonts
$header-font: 'Monsterrat', sans-serif;
$body-font: 'roca', sans-serif;

// Card Colors
$card-1: #F5C7E2;
$card-2: #FFD179;
$card-3: #FAF3CE;
$card-4: #E3E2AA;
$card-5: #37787E;
$card-6: #B95421;
$card-7: #F4EEB6;
$card-8: #E7FB78;