@charset "UTF-8";
body {
  background-color: #FAF3CE;
  height: 100vh;
}

a {
  color: #5D0A0A;
  text-decoration: none;
  font-family: "roca", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 88px;
  text-align: center;
  background-color: #fffff6;
  padding-left: 16px;
  padding-right: 18px;
  border-top: 1px solid #5D0A0A;
  border-bottom: 1px solid #5D0A0A;
}

.about-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 13px;
  font-family: "monsterrat", sans-serif;
  color: #5D0A0A;
}

.about-header img {
  background-color: transparent;
  width: 180px;
  height: 165px;
  margin-left: 54px;
  margin-right: 54px;
}

.about-header h2 {
  font-size: 32px;
  margin-top: 48px;
  margin-bottom: 0;
}

.about-header p {
  font-size: 22px;
  font-family: "monsterrat", sans-serif;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: -0.15px;
  margin-top: 10px;
}

.about-btn-1 button {
  position: relative;
  display: inline-block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.5px;
  font-weight: 400;
  text-transform: capitalize;
  font-family: "roca", sans-serif;
  margin-inline: auto;
  margin-top: 32px;
  min-width: auto;
  min-width: auto;
  padding-inline: 18px;
  padding-block: 4px;
}
.about-btn-1 button.lead {
  color: #5D0A0A;
  background: #fff435;
  border: 1px solid #5D0A0A;
  border-radius: 25px;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
.about-btn-1 button.lead::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #5D0A0A;
  border-radius: inherit;
  box-shadow: 0 0 0 0.5px #5D0A0A;
  transform: translate3d(0, 0.35em, -1em);
  transition: all 0.25s ease-in-out;
}
.about-btn-1 button.lead:hover {
  background: #fff435;
  transform: translate(0, 0.15em);
}
.about-btn-1 button.lead:hover::before {
  transform: translate3d(0, 0, -0.5em);
}
.about-btn-1 button.lead:active {
  background: #fff435;
  transform: translate(0em, 0.3em);
}

.about-content {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FAF3CE;
  padding: 67px 20px 50px 20px;
  border: 1px solid #5D0A0A;
  border-radius: 20px;
  min-width: 300px;
  margin-top: 110px;
}

.about-content img {
  width: 255px;
  height: 255px;
  object-fit: contain;
  margin-bottom: 20px;
}

.text-header {
  font-size: 34px;
  font-weight: 400;
  line-height: 36px;
  color: #5D0A0A;
  margin-bottom: 10px;
}

.text-up {
  font-size: 26px;
  color: #5D0A0A;
  margin-bottom: 15px;
}

.text-down {
  font-size: 17px;
  color: #5D0A0A;
}

.about-btn-2 button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -0.7px;
  font-weight: 400;
  text-transform: capitalize;
  font-family: "roca", sans-serif;
  margin-inline: auto;
  margin-top: 16px;
  min-width: auto;
  height: 2.5rem;
  padding-inline: 18px;
  padding-block: 4px;
  gap: 0.5rem;
  padding: 4px 18px;
}
.about-btn-2 button.read {
  color: #5D0A0A;
  background: #fff435;
  border: 1px solid #5D0A0A;
  border-radius: 50px;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
.about-btn-2 button.read::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #5D0A0A;
  border-radius: inherit;
  box-shadow: 0 0 0 0.5px #5D0A0A;
  transform: translate3d(0, 0.35em, -1em);
  transition: all 0.25s ease-in-out;
}
.about-btn-2 button.read:hover {
  background: #fff435;
  transform: translate(0, 0.15em);
}
.about-btn-2 button.read:hover::before {
  transform: translate3d(0, 0, -0.5em);
}
.about-btn-2 button.read:active {
  background: #fff435;
  transform: translate(0em, 0.3em);
}

.testimonials-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5D0A0A;
  flex-direction: column;
  text-align: center;
  padding: 0 16px 0 16px;
  background-color: #fffff6;
  padding-top: 77px;
  padding-bottom: 113px;
}

.testimonial-h2 {
  font-family: "roca", sans-serif;
  font-size: 32px;
  margin-bottom: 0;
}

.testimonial-h3 {
  font-size: 26px;
  margin-top: 10px;
}

.testimonial-list {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
}

.marquee-box {
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100vw;
  transform: none;
}

.child-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0 0 auto;
  transform: translateX(0%);
  animation: scroll 55s linear infinite;
  animation-play-state: running;
  animation-delay: 0s;
  animation-direction: normal;
}

.marquee-ani {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-left: 3rem;
  min-width: max-content;
  margin-bottom: 1rem;
}

.marquee-item {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 302px;
  min-height: 306px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #FAF3CE;
  box-shadow: 7px 7px 0 5px #5D0A0A;
}

#intext {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 277px;
  height: 206px;
  padding: 42px 19px 0px 19px;
}

.rating {
  display: flex;
  justify-content: left;
  padding-bottom: 5px;
}

.name {
  padding-top: 35px;
  padding-left: 19px;
  text-align: left;
}

.marquee-item p {
  font-family: "roca", sans-serif;
  font-size: 16px;
  margin: 0;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.marquee-container {
  overflow: hidden;
}

.pl-container li {
  list-style-type: disc;
}

.pl-container {
  display: flex;
  border: 1px solid #5D0A0A;
  height: 64px;
  padding: 0;
  margin: 0;
}

.marquee {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fffff6;
  width: 100%;
  transform: translateX(0%);
  animation: marquee 10s linear infinite;
}
.marquee span {
  font-family: #5D0A0A;
  text-align: center;
  font-size: 18px;
  width: 300px;
  display: inline-block;
}
.marquee span::before {
  content: "•";
  font-size: 16px;
  margin-right: 12px;
  display: inline-block;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}
.site-footer {
  display: block;
  background-color: #fff435;
  text-align: left;
  padding: 40px 24px;
  font-family: "roca", sans-serif;
  color: #5D0A0A;
}

.text-read {
  font-size: 18px;
}

.right-text {
  font-size: 18px;
}

.ft-navbar {
  display: flex;
  font-size: 20px;
  font-family: "roca", sans-serif;
}

.ft-navbar-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1 1 0%;
}

.ft-navbar-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inside-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.ft-logo {
  max-width: 100%;
  height: auto;
}

hr {
  border: 0.5px solid #5D0A0A;
  margin-top: 32px;
  margin-bottom: 24px;
}

.ft-condition {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-family: "roca", sans-serif;
  font-size: 12px;
  color: #5D0A0A;
}

.ft-copyright {
  font-size: 12px;
  font-family: "roca", sans-serif;
  margin-top: 24px;
}

/* Start media query for Desktop
---------------------------------------------- */
@media screen and (min-width: 45em) {
  .about-header p {
    max-width: 1012px;
    max-height: 126px;
    font-size: 30px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: -0.15px;
  }
  .about-btn-1 {
    margin-top: 50px;
    padding-inline: 41px;
    padding-block: 8px;
    margin-inline: auto;
    width: auto;
  }
  #lead {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.33px;
    font-weight: 400;
  }
  .about-container {
    padding: 0 32px 140px 32px;
  }
  .about-content {
    width: 1458px;
    height: 713px;
    padding-bottom: 105px;
    padding-top: 103px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: flex-start;
    padding-inline: 48px;
    margin-inline: auto;
    border-radius: 18px;
    margin-left: 121px;
    margin-right: 121px;
    gap: 120px;
  }
  .about-content img {
    width: 680px;
    height: 503px;
    inset: 0px;
    object-fit: contain;
    color: transparent;
    margin-bottom: 0;
  }
  .about-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
  }
  .about-text {
    gap: 36px;
    max-width: 451px;
    max-height: 496px;
    text-align: left;
    margin-top: 0;
  }
  .text-header {
    font-size: 53px;
    line-height: 54px;
    font-weight: 800;
    letter-spacing: -0.15px;
  }
  .text-up {
    font-size: 53px;
    line-height: 54px;
    font-weight: 400;
    letter-spacing: -0.15px;
    text-align: left;
    padding-top: 12px;
  }
  .text-down {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: -0.05px;
    padding-top: 25px;
  }
  .about-btn-2 {
    align-self: flex-start;
    padding-inline: 27px;
    margin-inline: 0;
    padding-block: 8px;
    width: auto;
    padding-top: 50px;
    padding-left: 0;
  }
  #read {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.33px;
    font-weight: 400;
  }
  .testimonial-h2 {
    font-size: 36px;
  }
  .testimonial-h3 {
    font-size: 30px;
  }
  .child-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 0 auto;
    transform: translateX(0%);
    animation: scroll 30s linear infinite;
    animation-play-state: running;
    animation-delay: 0s;
    animation-direction: normal;
  }
  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  hr {
    display: none;
  }
  .site-footer {
    padding: 0;
  }
  .middle-footer {
    display: flex;
    flex-direction: row;
  }
  #ft-left {
    display: flex;
    flex-direction: column;
    border-right-width: 1px;
    width: 882px;
    height: 610px;
  }
  .ft-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 2.5rem;
    width: 50%;
  }
  .ft-middle-right {
    gap: 70px;
    display: flex;
    flex-direction: row;
    padding-top: 72px;
    padding-inline: 50px;
  }
  .text-read {
    margin: 64px 4rem 0 4rem;
    margin-inline: auto;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.33px;
    font-weight: 400;
    width: 85%;
    max-height: 120px;
  }
  .right-text {
    max-width: 306px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
  }
}

/*# sourceMappingURL=styles.css.map */
